* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #e2e8f0;
}

.main-container {
  display: grid;
  grid-template-columns: 20% auto;
}

.sidebar {
  height: ;
  background-color: #1c94d3;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 2rem repeat(6, auto) 2rem repeat(3, auto) 1fr;
  gap: 1rem;
}

.dashboard-icon {
  height: 3rem;
  fill: #ffffff;
}

.sidebar > h1 {
  font-size: 2rem;
  color: #ffffff;
  align-self: center;
}

.icon {
  height: 1.5rem;
  fill: #ffffff;
  justify-self: center;
  grid-column: 1;
}

.sidebar p {
  font-size: 1.25rem;
  color: #ffffff;
  align-self: center;
  grid-column: 2;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  background-color: #ffffff;
  padding: 0 2.5rem;
  display: grid;
  grid-template-rows: 1fr 2fr;
  box-shadow: 1px 6px 6px 2px rgba(0, 0, 0, 0.1);
}

.header-top {
  padding: 1rem;
  align-self: center;
  display: grid;
  grid-template-columns: auto 1fr auto auto 15%;
  gap: 1.5rem;
  align-items: center;
}

.header-icon {
  height: 1.5rem;
}

input[type="search"] {
  width: 80%;
  padding: 1rem;
  background-color: #e2e8f0;
  border-style: none;
  border-radius: 2rem;
}

.header-top > img {
  height: 3rem;
  border-radius: 1.5rem;
  margin: 0 1rem;
}

.header-main {
  padding: 0 1.5rem;
  display: grid;
  column-gap: 2rem;
  row-gap: 0.5rem;
  grid-template-columns: auto auto 1fr repeat(3, auto);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "image greeting . new upload share"
    "image profile . new upload share";
  align-items: center;
}

.header-main > img {
  height: 7em;
  border-radius: 3.5em;
  grid-area: image;
}

.header-main > p {
  grid-area: greeting;
  align-self: end;
}

.header-main > h1 {
  font-size: 2rem;
  grid-area: profile;
  align-self: baseline;
}

.new {
  grid-area: new;
}

.upload {
  grid-area: upload;
}

.share {
  grid-area: share;
}

.header-main button {
  font-size: 1.25rem;
  color: white;
  background-color: #1c94d3;
  border-style: none;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
}

.content-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1.25fr 1fr;
  gap: 1.5rem;
}

.projects {
  grid-row: 1 / span 2;
  display: grid;
  grid-template-rows: auto 1fr;
}

.projects > h2 {
  margin-bottom: 0.5em;
}

.projects > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
}

.projects > div > div {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;
  position: relative;
}

.projects > div > div:before {
  content: "";
  width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #fcae1e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.projects p {
  color: #5a5a5a;
}

.project-icon-container {
  justify-self: end;
  align-self: end;
}

.project-icon {
  height: 1.5rem;
  margin: 0 0.5rem;
}

.announcements > h2 {
  margin-bottom: 0.5em;
}

.announcements-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: 1fr auto 1fr auto 1fr;
  gap: 1rem;
}

.announcements-container > div {
  padding: 0.25rem;
}

.announcements-container > div > h4 {
  margin-bottom: 0.25rem;
}

.announcements-container > div > p {
  font-size: 0.75rem;
  color: #5a5a5a;
}

hr {
  border: none;
  border-top: 1px solid #d3d3d3;
}

.trending > h2 {
  margin-bottom: 0.5rem;
}

.trending-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.trending-container > div {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.25rem;
}

.trending-container img {
  height: 3rem;
  margin: 0.5rem;
  border-radius: 1.5rem;
  grid-row: 1 / span 2;
  align-self: center;
}

.trending-container h4 {
  align-self: end;
}

.trending-container p {
  color: #5a5a5a;
}